@import "variables";

body {
  background-color: map-get($colours, brand-white);
}

ul {
  list-style: none;
}

.btn-light {
  background-color: map-get($colours, brand-blue) !important;
  border: none !important;

  &:hover {
    background-image: linear-gradient(to right, #798dfb, #c7e5ff) !important;
  }
}

.btn-dark {
  background-color: map-get($colours, brand-dark-blue) !important;
  border: none !important;

  &:hover {
    background-image: linear-gradient(to right, #191919, #798dfb) !important;
  }
}

nav {
  background-color: map-get($colours, brand-black);

  & .logo {
    height: 5rem;
  }
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.hero {
  background: linear-gradient(#798dfb, #c7e5ff);
  display: flex;
  flex-direction: column;
  align-items: center;

  & .hero-logo {
    height: 10rem;
  }

  & .hero-img {
    height: 13.9rem;
  }
}

.hero-img img {
  height: 15rem;
}

.img-right {
  display: flex;
  justify-content: end;
}

.call-to-action {
  width: 220px;
  display: flex;
  justify-content: space-between;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

.listing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listing-card {
  background-color: map-get($colours, brand-grey);
  margin: 20px;
  width: 400px;
  border-radius: 3px;

  & h2,
  p {
    margin: 20px;
  }

  & img {
    height: 300px;
    width: 400px;
    object-fit: cover;
    border-radius: 3px 3px 0px 0px;
  }
}

.current-bid {
  color: #268317;
}

.advert-container {
  display: flex;
  justify-content: space-between;
}

.advert-img {
  background: linear-gradient(#798dfb, #c7e5ff);
  height: 17rem;
  & img {
    height: 18rem;
  }
}

.advert-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
}

footer {
  background-color: map-get($colours, brand-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  & img {
    height: 3rem;
  }
}
